<div class="container">
<form [formGroup]="newCardForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="The best card">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName="description" rows="3"></textarea>
    </div>
    <button type="button" type="submit" class="btn btn-primary">Send</button>
</form>
</div>