ul{
    background-color: #1d2124;
    height: 60px;
    justify-content: center;
}

img{
    position:fixed;
    left: 10px;
    
}



a{
    color: rgb(255, 254, 254);
    padding-top: 15px;   
    height: 60px; 
}



