ul{
    background-color: #1d2124;
    height: 60px;
}

img{
    
    padding-right: 250px;
    padding-left: 30px;
    padding-top: 5px;

}

a{
    color: rgb(255, 254, 254);
    padding-top: 15px;   
    height: 60px; 
}



