.carousel{
    padding-top: 25px; 
    max-width: 100%; 
    overflow-x: hidden;   

}

ul{
    background-color: #246aa0;
    height: 60px;
    justify-content: center;
}


a{
    color: rgb(255, 254, 254);
    padding-top: 15px;   
    height: 60px; 
}

