<article>
    <h3>Class & Style Binding</h3>
    <input type="text" [(ngModel)]="nome">

    <img [src]=" 'assets/img/yugioh.jpg'">
    <div>
        Selecione uma classe
        <select #classe (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-info">Info</option>
            <option value="alert-warning">Alerta</option>
            <option value="alert-danger">Error</option>
        </select>
    </div>
    <br><br>

    <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">...</div>
    <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">...</div>
    <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">...</div>
    <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">...</div>
</article>

