<table class="table table-striped table-dark mt-4">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards">
      <th scope="row">{{card.id}}</th>
      <td>{{card.nome}}</td>
      <td><button type="button" class="btn btn-danger" (click)="delete(card)" >Delete</button></td>
      <td><button type="button" class="btn btn-secondary" (click)="edit(card)" >Edit</button></td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="add()" >Create</button>
